@media(max-width:1219px) {

    // ---- header ----//

    .header .header-top .header-top__inner .user-nav {
        margin-left: 40px;
    }

    .header-main__numbers {
        position: absolute;
        bottom: -95px;
        left: auto;
        right: auto;
    }

}


@media(max-width: 1185px) {

    // ---- header ----// 

    .header .header-top .header-top__inner {
        display: flex;
        justify-content: space-between;
    }

    .header .header-top .header-top__inner .menu {
        margin-left: 0;
    }

    .header .header-top .header-top__inner .user-nav {
        margin-left: 0;
    }
 
     // ---- video ----//   
       
   .video__text-content{ 
    padding-right: 10px;
   }    

    
   .video__title {
    font-size: 45px;
    line-height: 50px; 
 } 
  
  // ---- courses ----//    
   
  .courses__options {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 27px;
    margin: 0 auto 70px;   
    max-width: 800px;

  .courses__option{ 
    margin: 0 auto;
  }
}  
  
//----  mentor ----// 

.mentor__inner {
    padding-top: 70px;  

 .mentor__items{ 
    flex-wrap: wrap;  
    margin: 0 auto 95px;
    .mentor__item{ 
        margin: 15px;
    }
  }

 }

} 
  
  
@media(max-width: 1170px) {    
 
.event__items{ 
    flex-wrap: wrap;  
    .event__item{ 
        margin: 15px;
    }

}  

}
 

 
@media(max-width: 1100px) {   

    // ---- video ----//      

    .video {
        margin-bottom: 100px;
    } 
     
     

  // ----  how-it-work  ----//     

     .how-it-work__items{ 
        display: flex; 
        flex-wrap:wrap; 
        justify-content: space-evenly; 
        margin-bottom: 70px;

     .how-it-work__item{ 
         margin: 34px;  
         padding: 10px;
         border: 3px solid $main-blue-color; 
         height: 235px;  

     .how-it-work__item-img { 
            margin: 0 auto 15px;
        }    
         
     .how-it-work__item-title {  
        font-size: 20px;
        margin-bottom: 5px;
     }  

      } 

    } 
      
    //----  event ----//

    .event__items {
        margin: 0 auto 95px;
    }

} 


@media(max-width: 1035px) {

    // ---- header ----//  

    .header-top__inner {
        justify-content: space-between;
    }

    .header .header-top .header-top__inner .menu__list {
        display: block;
        position: absolute;
        top: 119px;
        left: 0;
        right: 0;
        background-color: $main-blue-color;
        text-align: center;
        padding: 20px 0;
        transform: translateY(-500px);
        transition: all .5s;
        z-index: 50;


        .menu__item {
            padding: 17px 0;
        }

        .menu__item+.menu__item {
            margin-left: 0;
        }

        .menu__link {
            font-size: 24px;
            color: $white;
        }


    }

    .header .menu .menu__list.menu__list--active {
        transform: translateY(0);
    }

    .user-nav {
        width: 100%;
        width: 320px;
        border: 1px solid transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .header-top .header-top__inner .user-nav__btn {
        display: block;
        order: 1;
    }

    .header .header-top .header-top__inner .user-nav__link+.user-nav__link {
        margin-left: 0;
    }
 
      // ---- how-it-work ----//       

    .how-it-work__subtitle {
        margin: 0 auto 30px;
    } 

}

@media(max-width: 1008px) {

    // ---- header ----//     

    .header .header-top .header-top__inner {
        padding: 40px 10px;
    }

    .header-main__numbers {
        padding: 56px 25px;
    } 
     
    // ---- video ----//       
     
    .video__title {
        font-size: 35px;
        line-height: 45px;
    }   
      
    .video__text {
        font-size: 15px; 
    }  
     
    .video__bigger-text {
        font-size: 15px; 
    } 
     
    // ---- numbres ----//     

    .numbers__inner {
        padding: 72px 76px;
    } 

}


@media(max-width: 915px) {

    // ---- header ----//     

    .header-main__title {
        margin: 140px 0 25px;
    }

    .header-main__btn {
        margin-bottom: 230px;
    }
  
    // ---- numbers ----//     

    .numbers__inner{ 
        flex-wrap: wrap;  
        justify-content: space-evenly;
      .numbers__item{ 
        margin: 50px;
      }  

    }

}


@media(max-width: 870px) {

    // ---- header ----//     

    .header-main__numbers {
        padding: 40px 25px;
        position: absolute;
        bottom: -75px;
        left: auto;
        right: auto;
    }

    .header-main__title {
        font-size: 53px;
        line-height: 65px;
    }

    .header-main__text {
        max-width: 777px;
    } 
     
    //---- numbers ----// 
     
    .numbers__inner {
        padding: 40px 87px;
    }


}


@media(max-width: 830px) {

    // ---- header ----//      

    .header .header-top .header-top__inner {
        padding: 30px 10px;
    }

    .header-main__title {
        margin: 115px 0 25px;
    }

    .header-main__btn {
        margin-bottom: 197px;
    }

    .header-main__numbers {
        padding: 19px 5px;
        position: absolute;
        bottom: -59px;
        left: auto;
        right: auto;
    }
  
    // ---- video ----//       
     
    .video__title {
        font-size: 30px;
        line-height: 37px;
        margin-top: 10px;
    }  
     
    .video__bigger-text { 
       margin-bottom: 33px; 
    }
 
     // ---- courses ----//     
       
     .courses__options {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0;
        grid-row-gap: 35px;
        margin: 0 auto 70px;
    }   
    

}


@media(max-width: 800px) {

    // ---- header ----//        

    .header-main__text {
        margin-bottom: 40px;
    }


    .header-main__btn {
        margin-bottom: 207px;
    }


    .header-main__numbers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .header-main__numbers-item {
            margin: 15px;
            align-items: center;
            border: 3px solid #086cf9;
            padding: 17px 5px 17px 97px;

            .header-main__numbers-title {
                margin-bottom: 5px;
            }

            .header-main__numbers-text {
                font-size: 13px;
            }

        }

        .header-main__numbers-item::before {
            content: "";
            position: absolute;
            top: 1px;
            left: 8px;
        }
    }
 
     

} 
 
@media(max-width: 750px) {

    // ---- header ----//       

    .header .header-top .header-top__inner .menu__list {
        position: absolute;
        top: 95px;
        left: 0;
        right: 0;
    }

    .header .header-top .header-top__inner {
        padding: 25px 10px;
    }

    .header-main__title {
        margin: 95px 0 25px;
        line-height: 52px;
    }

    .header-main__numbers {
        padding: 3px 5px;
    }

    // ---- video ----//         

    .video__inner {
        flex-wrap: wrap-reverse;
    }

    .video__video-content {
        max-width: 100%;
    }

    .video__text-content {
        max-width: 100%;

        .video__title {
            margin-top: 15px;
        }  

        .video__text, 
        .video__bigger-text {   
         max-width: 100%;   
        } 

       .video__btn{ 
        display: inline-block; 
        margin-bottom: 15px;
       } 

    } 
      
    //----  courses ----// 

    .courses__title {
        margin: 45px 0 29px;
        font-size: 40px;
        color: #222;
    } 
      

   //----  mentor ----//   
    
   .mentor__title {
    font-size: 43px;
    margin-bottom: 29px;
   }  
    
   .mentor__subtitle {
    font-size: 15px;
    margin: 0 auto 35px;
   } 

}
 
@media(max-width: 555px) {    
     
    // ---- header ----//       
     
    .header-main {
        margin-bottom: 0px; 
    }
     
    .header .header-top .header-top__inner { 
        padding: 25px 0;
    }
     
    .header-main__title {
        font-size: 45px;  
        line-height: 47px;
    }  
    .header-main__text {
        margin-bottom: 47px;
    }
     
    .header-main__btn {
        margin-bottom: 130px;
     }

  .header-main__numbers{  
    display:none;
   }
   
    // ---- video ----//        

   .video {
    padding-top: 10px;  

   .video__video-content{ 
     height: 350px;
    } 
     
    .video__title{ 
        margin-top: 25px;
    } 

   }  
     
 //----    courses ----//

   .courses__title {
    line-height: 39px;
} 
   
  //---- numbers ----//

.numbers__inner .numbers__item {
    margin: 40px;
}

} 
 
@media(max-width: 490px) {   
     
   // ---- header ----//         
    
   .header .header-top .header-top__inner .user-nav { 
    justify-content: space-evenly;
   }
    
   .header .header-top__logo {
    font-size: 17px; 
  }  
   
  .header .header-top .header-top__inner .user-nav__link {
    padding: 10px 15px; 
 } 
 
.header .header-top .header-top__inner .user-nav__btn {
    position: relative;
    width: 35px;
    height: 40px; 
} 
 
.header .header-top .header-top__inner .user-nav__btn  
.row-top, .header .header-top .header-top__inner .user-nav__btn .row-middle,  
.header .header-top .header-top__inner .user-nav__btn .row-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 3px; 
 }
   
  .header-main__title {
    font-size: 37px
 }
   
   .header-main__btn {
    margin-bottom: 100px;
  } 
  
  // ---- video ----//      

  .video__bigger-text {
    margin-bottom: 17px;
 } 
  
  // ---- mentor ----//     

 .mentor__inner {
    padding-top: 53px;
} 
 
.mentor__title {
    font-size: 38px;
    line-height: 39px;
    margin-bottom: 23px;
}  
 
.mentor__subtitle {
    margin: 0 auto 27px;
} 
 
  
//----  event  ----// 

.event__title {
    font-size: 43px;
    line-height: 45px; 
  } 
   
  .event__subtitle {
    margin: 0 auto 39px;
 }
 
//---- mentor -----// 

 .mentor__inner .mentor__items {
    margin: 0 auto 70px; 
  }   
 
}
 
@media(max-width: 420px) {    
 
    // ---- header ----//        
     
    .header .header-top .header-top__inner .user-nav {
        justify-content: space-around;
    }  
     
  .header .header-top .header-top__inner .user-nav__link {
      padding: 10px 10px; 
   } 
   
   .header-main__title {
      margin: 65px 0 25px;  
   }   
    
   .header-main__text {
    margin-bottom: 57px;
  }
 
  .header-main__btn {
    margin-bottom: 80px;
}  
 
  // ---- video ----//      
 
.video .video__video-content {
    height: 315px; 
 } 
 
 .video__title{ 
    margin-bottom: 15px;
 } 
   
//----  courses  ----// 
 
    .courses__option {
        width: 318px;

        .courses__option-title {
            font-size: 20px;
        }

    }

    .mentor__item { 
        height: auto; 
      .mentor__course-wrapper {
         padding: 17px 25px 18px;
      } 
    }
 
    // ----- event -----//  
     
    .event__item-info-wrapper {
        padding: 25px 14px 28px 14px; 
        .event__item-time, 
        .event__item-time-location{ 
           font-size: 14px;
        } 
    }

  
     
    .event__item-title {
        font-size: 17px; 
    }
} 
 
@media(max-width: 374px) {
   
    //----  event ----// 

    .event__item-info-wrapper {
        padding: 25px 11px 26px 11px; 
    }  
     
.event__item-info-wrapper .event__item-time, .event__item-info-wrapper .event__item-time-location {
        font-size: 12px;
    }
     
}
 
@media(max-width: 333px) {     
 
   // ---- header ----//        
     
   .header .header-top .header-top__inner .user-nav {
      justify-content: space-between;
    }    
     
    .header .header-top .header-top__inner .menu__list {
        position: absolute;
        top: 105px;
        left: 0;
        right: 0;
    }
 
    .header-main__title {
        margin: 45px 0 25px; 
        font-size: 34px;
    }  
     
    .header-main__text {
        margin-bottom: 31px;
    }   

    .header-main__btn {
        margin-bottom: 50px;
    } 
     
     // ---- video ----//     
 
    .video .video__video-content{ 
        height: 270px;
    } 
 
    //----  courses  ----// 
  
       .courses__options {
         margin: 0 auto 50px;
    
         .courses__option {
             width: 300px;
         }
   } 
     
    
    //----  mentor  ----//  

   .mentor__course-wrapper {
    padding: 17px 17px 15px;
 } 
   
  
   //----  event  ----//  
 
 .event__item-info-wrapper {
    padding: 23px 7px 23px 7px; 
     
    .event__item-time::before {
        position: absolute;
        top: 3px;
        left: -21px;
     }  
     
    .event__item-location::before {
        position: absolute;
        top: 3px;
        left: -19px;
     }
  } 

}