    /*-- colors --*/  
   $main-text-color: #555555; 
   $main-title-link: #222222;   
   $main-blue-color: #086CF9;     
   $white: #fff;
     

    /*-- fonts --*/  
     
    %dmsans-400{ 
     font-family: 'DM Sans', sans-serif;    
     font-weight: 400;
    }  
     
    %dmsans-500{ 
        font-family: 'DM Sans', sans-serif;    
        font-weight: 500;
    } 
     
    %dmsans-700{ 
        font-family: 'DM Sans', sans-serif;    
        font-weight: 700;
       }