@import 'vars';
@import 'fonts';
@import 'reset';  
@import 'libs';  
@import 'global';



.header {

    .header-top{
    .header-top__inner {
        padding: 40px 0 60px;
        display: flex;
        align-items: center;  

      

        .menu {
            margin-left: 232px;

            &__list {
                display: flex;
            }

            &__item+.menu__item {
                margin-left: 52px;
            }


            &__link {
                @extend %dmsans-400;
                color: $main-title-link;
                font-size: 16px;
                line-height: 25px;
                transition: all .3s;
                padding:  0 10px 5px;
                &:hover {
                    color: $main-blue-color;
                    border-bottom: 1px solid $main-blue-color;
                }
            }

        }


        .user-nav {
            margin-left: 77px;

            &__link {
                padding: 12px 23px;
                color: $main-title-link;
                border: 1px solid transparent;
                border-radius: 4px;
                font-size: 16px;
            }

            &__link + .user-nav__link {
                background-color: $main-blue-color; 
                color: $white;
                margin-left: 20px;   
                transition: all .3s; 
                border: 3px solid transparent;   

               &:hover{ 
               border: 3px solid $main-blue-color; 
               color: $main-blue-color;   
               background-color: $white;
               }  

            }

        }

     } 
      
     &__logo {
        @extend %dmsans-700;
        font-size: 24px;
        color: $main-title-link;
    }
  }
} 
 
.header-main{     
    background-image: url('../images/header-main-bg.jpg');  
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    margin-bottom: 95px;

    &__inner{ 
     text-align:center; 
     position: relative;
    } 
     
    &__title{ 
      @extend  %dmsans-700; 
      font-size: 57px; 
      color: $white; 
      line-height: 73px; 
      margin: 199px 0 25px;
    } 
     
    &__text{ 
        font-size: 16px; 
        color: $white; 
        max-width: 867px; 
        margin: 0 auto; 
        margin-bottom: 54px;
    } 
     
    &__btn{ 
        padding: 16px 30px; 
        border-radius: 4px; 
        background-color: $main-blue-color;  
        color: $white; 
        @extend  %dmsans-500;  
        display: inline-block; 
        font-size: 16px; 
        margin-bottom: 283px; 
        transition: all .3s;  

     &:hover{ 
      color: $main-blue-color;      
      background-color: $white; 
      @extend  %dmsans-700;   
     }     
    
     }  
      
     &__numbers{ 
        width: 100%; 
        max-width: 1144px; 
        padding: 56px 88px;  
        border: 1px solid transparent;
        background-color: $white; 
        border-radius: 4px; 
        text-align: left; 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
        position: absolute;  
        bottom: -95px;
        left: 25px;   
        box-shadow: 0px 11px 35px rgba(0, 0, 0, 0.08);
     } 
      
     &__numbers-item{ 
        width: 100%;  
        height: 100%;
        max-width: 232px;  
        max-height: 80px; 
        border: 1px solid transparent; 
        padding-left: 97px; 
        position: relative;
     }   

     &__numbers-item::before{  
        content: ''; 
        position: absolute; 
        top: 0; 
        left: 0; 
        width: 72px; 
        height: 72px;
     } 
      
     &__numbers-item--courses::before{ 
        background-image: url(../images/header-numbers-icons/courses.svg); 
        width: 72px; 
        height: 70px; 
     } 
      
     &__numbers-item--instructors::before{ 
        background-image: url(../images/header-numbers-icons/instructors.svg); 
     } 
      
     &__numbers-item--success::before{ 
        background-image: url(../images/header-numbers-icons/success.svg); 
     }
      
     &__numbers-title{ 
        @extend %dmsans-700; 
        font-size: 36px; 
        color: $main-title-link; 
        margin-bottom: 23px;
     } 
      
     &__numbers-text{  
       font-size: 16px; 
       color: $main-blue-color; 
       @extend %dmsans-400; 
     }
}
   
.video{ 
    padding-top: 32px;  
    margin-bottom: 127px;
  &__inner{ 
  //  width: 100%; 
    //max-width: 1152px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between;
  }  
   
  &__text-content{ 
    width: 100%; 
    max-width: 519px;
  } 
   
  &__title{ 
    @extend %dmsans-700; 
    color: $main-title-link; 
    font-size: 48px; 
    line-height: 63px; 
    margin-bottom: 25px;
  } 
   
  &__text{ 
    font-size: 16px; 
    max-width: 478px; 
    margin-bottom: 15px;
  } 
   
  &__bigger-text{ 
    font-size: 20px; 
    line-height: 28px; 
    color: #333; 
    max-width: 489px; 
    margin-bottom: 39px;
  } 
   
  &__btn{ 
    padding: 16px 32px; 
    border-radius: 4px; 
    color: $white; 
    background-color: $main-blue-color; 
    font-size: 16px;  
    border: 3px solid transparent;
    transition: all .3s; 
     
    &:hover{ 
      background-color: $white;     
      color: $main-blue-color;  
      border: 3px solid $main-blue-color;
    }
  } 
   
  &__video-content{  
    width: 100%;
    max-width: 595px; 
    height: 433px;    
    background-image: url('../images/video-content-bg.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }  

  &__link{ 
    width: 80px; 
    height: 80px; 
    border-radius:50%;  
    display: inline-block;
    background-color: $white; 
    display: flex; 
    justify-content: center; 
    align-items: center;
  }
}

.how-it-work{ 
  text-align: center;  
  &__title{ 
    @extend  %dmsans-700; 
    font-size: 48px; 
    color: $main-title-link; 
    margin-bottom: 33px;
  }    

  &__subtitle{ 
     max-width: 465px; 
     font-size: 16px; 
     line-height: 25px;   
     display: inline-block;
     margin: 0 auto 47px;
  } 
    
  &__items{ 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 130px;
  }

  &__item{ 
    width: 247px; 
    height: 217px; 
    border: 1px solid transparent;
  } 
   
  &__item-img{ 
    margin: 0 auto 27px;
  } 
   
  &__item-title{ 
   @extend %dmsans-700; 
   font-size: 25px; 
   color: $main-title-link;  
   margin-bottom: 17px;
  } 
   
  &__item-text{ 
    font-size: 14px; 
    line-height: 23px;
  }
} 
   
 
 
.courses{ 
  background-color: #ECF4FF; 
  text-align: center; 
  &__title{ 
    margin: 57px 0 19px; 
    @extend  %dmsans-700;  
    font-size: 48px;
    color: $main-title-link;
  } 
   
  &__subtitle{ 
    font-size: 17px; 
     max-width: 674px; 
     margin: 0 auto 47px;
  }  
   
  &__options{ 
    border: 1px solid transparent;  
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 25px; 
    grid-row-gap: 30px; 
    margin: 0 auto 47px;
  } 
   
  &__option{ 
    width: 368px; 
    height: 483px;  
    padding: 25px;  
    background-color: $white;
    border: 1px solid transparent;  
    border-radius: 7px;
  }   
   
  &__option-img{ 
    margin-bottom: 25px;
  }
   
  &__option-info{ 
    display: flex; 
    justify-content: space-around;
    align-items: center; 
    padding: 0 15px 0 3px;
    border: 1px solid transparent;   
    position: relative;
    margin-bottom: 25px;
  } 
    
  &__option-students, 
  &__option-views, 
  &__option-rating{ 
    font-size: 17px;  
    position: relative;
   &::before{ 
    content: ''; 
    width: 32px; 
    height: 32px;    
    border-radius: 50%;
    background-image: url('../images/options/option-user.svg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    position: absolute;
    top: -3px;
    left: -35px; 
   } 
  } 
   
  &__option-views::before{  
    background-image: url('../images/options/option-views.svg'); 
    top: -3px;
    left: -35px; 
   }  
    
   &__option-rating::before{  
    background-image: url('../images/options/option-rating.svg'); 
    top: -3px;
    left: -35px; 
   } 
    
   &__option-author{ 
    position: absolute; 
    top: -3px;
    right: 0px;
   }

  &__option-title-price{ 
    display: flex; 
    justify-content: space-between; 
    align-items: center;  
    padding-top: 20px; 
    margin-bottom: 18px;
    border-top: 1px solid #E9E8E8;  
  } 
   
  &__option-title{ 
    @extend  %dmsans-700; 
    font-size: 24px; 
    color: $main-title-link;
  } 
   
  &__option-price{   
    @extend  %dmsans-700; 
    font-size: 24px; 
    color: $main-blue-color;
  }
 
  &__option-text{ 
    text-align: left; 
    font-size: 14px; 
    line-height: 23px;
  }
 
  &__btn{ 
    padding: 16px 32px;  
    font-size: 16px;
    color: $white; 
    background-color: $main-blue-color; 
    border-radius: 7px;  
    display: inline-block; 
    border: 3px solid transparent; 
    transition: all .3s;  
    margin-bottom: 61px;
     
    &:hover{ 
      border: 3px solid $main-blue-color;   
      color: $main-blue-color;    
      background-color: $white; 
      background-color: #ecf4ff;   
    }
  } 

}
 
.mentor{  
  text-align: center; 
 // background-color: #EFEFEF;
  &__inner{ 
    padding-top: 127px;
  }   
   
  &__title{ 
    @extend  %dmsans-700; 
    font-size: 48px; 
    color: $main-title-link; 
    margin-bottom: 18px;
  } 
   
  &__subtitle{ 
    font-size: 16px; 
    color: $main-title-link; 
    max-width: 550px; 
    color: $main-text-color; 
    margin: 0 auto 47px; 
  } 
    
  &__items{ 
    text-align: left; 
    display: flex; 
    justify-content: space-evenly; 
    margin:0 auto 127px; 
    border: 1px solid transparent; 
  }

  &__item{ 
    height: 502px;  
    width: 100%;  
    max-width: 368px;  
    border-radius: 7px; 
    box-shadow: 0px 11px 55px rgba(0, 0, 0, 0.08);
    border: 1px solid transparent; 
  }   
   
  &__img{ 
    margin-bottom: 17px;
  } 
   
  &__course-wrapper{ 
    padding: 17px 32px 36px;
  }
   
  &__name{ 
   @extend %dmsans-700; 
   font-size: 25px;   
   margin-bottom: 9px;
   color: $main-title-link;
  } 
   
  &__position{ 
    font-size: 16px; 
    margin-bottom: 25px;
  } 
   
  &__course-block{ 
    display: flex; 
    justify-content: space-between;
  } 
   
  &__courses-user-rating{  
    width: 100%;
    max-width: 107px; 
    display: flex; 
    justify-content: space-between; 
    border: 1px solid transparent; 
    padding-left: 22px; 
  } 
   
   &__courses-user,
   &__courses-rating{ 
    position: relative;
  } 
  

   &__courses-rating::before{  
    // display: inline-block;
     content: ''; 
     width: 17px; 
     height: 17px;  
     border: 1px solid transparent;  
     background-image: url('../images/mentors/mentor-rating.svg');
     position: absolute;  
     top: 3px; 
     right: 25px; 
   }  
    
   &__courses-user::before{   
    content: ''; 
     width: 17px; 
     height: 17px;   
     background-image: url('../images/mentors/mentor-user.svg'); 
     background-repeat: no-repeat;
     border: 1px solid transparent;
     position: absolute;  
     top: 3px;
     left: -25px;
   } 
    

} 
 
.event{ 
  text-align: center;  
   
  &__title{ 
    @extend %dmsans-700; 
    font-size: 48px; 
    color: $main-title-link;  
    margin-bottom: 18px;
  } 
   
  &__subtitle{ 
    font-size: 16px; 
    max-width: 421px;  
    display: inline-block;
    margin: 0 auto 47px;
  } 
   
   
  &__item-img-wrapper{ 
    position: relative; 
  }
    
  &__items{ 
    text-align: left; 
    display: flex; 
    justify-content: space-evenly; 
    border: 1px solid transparent; 
    margin: 0 auto 130px;
  }  
   
  &__item{ 
    width: 100%; 
    max-width: 368px; 
    border-radius: 7px;  
    box-shadow: 0px 12px 45px rgba(0, 0, 0, 0.08);
  }  
   

  &__item-date{ 
     width: 65px;
     height: 63px;  
     padding: 8px 12px; 
     @extend %dmsans-500; 
     font-size: 18px; 
     line-height: 18px; 
     color: $white; 
     background-color: $main-blue-color; 
     border-radius: 7px 0px 0px 0px; 
     display: flex; 
     justify-content: center; 
     align-items: center;   
     position: absolute; 
     top: 0; 
     left: 0;
  } 
  
  &__item-info-wrapper{ 
    padding: 25px 25px 32px 25px;
  }
  
  &__item-title{ 
    @extend %dmsans-500;  
    font-size: 20px;
    color: $main-title-link; 
    max-width: 267px;  
    margin-bottom: 20px;
  } 
   
 &__item-time-location{ 
  display: flex; 
  justify-content: space-between; 
  border: 1px solid transparent; 
  padding-left: 19px; 
 }   
  
 &__item-location{ 
  position: relative;
 } 
  
 &__item-time{ 
  position: relative;
 }
  
 &__item-time::before{   
   content: ''; 
   width: 17px; 
   height: 17px;   
   background-image: url('../images/event/clock.svg');  
   background-repeat: no-repeat;
   border: 1px solid transparent;   
   position: absolute;  
   top: 3px;
   left: -23px;
 }   
  
 &__item-location::before{   
  content: ''; 
  width: 17px; 
  height: 17px;   
  background-image: url('../images/event/location.svg');  
  background-repeat: no-repeat;
  border: 1px solid transparent;   
  position: absolute;  
  top: 3px;
  left: -21px;
}  
 

}

 
.numbers{ 
  background-color: #EFEFEF;  
  &__inner{ 
   padding: 72px 175px; 
   text-align: center; 
   display: flex; 
   justify-content: space-between; 
  } 

  &__item-title{ 
    @extend  %dmsans-700; 
    color: $main-title-link; 
    font-size: 48px; 
    margin-bottom: 15px;
  } 
   
  &__item-text{ 
    font-size: 16px;
  }
}
 

@import 'media'; 
 
 
